@font-face {
  font-family: 'Noto Sans Math';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/l/font?kit=7Aump_cpkSecTWaHRlH2hyV5UHkG4VH_cQ89XJILOQ&skey=27a26f5b3f2d5ea1&v=v19) format('truetype');
}
